# Compiled files
/target/

Cargo.lock

# Crate artifacts
**/*.crate

# Local Cargo configuration
/.cargo/

# Build scripts output
**/out

# Backup files
*.rs.bk

# IDE/Editor specific files
**/*.swp
**/*.swo
.vscode/


# Environment variables
.env
